

@media screen and (max-width:1199px) {
    .header--navbar:before {
        width: 940px
    }
}

@media screen and (min-width:992px) {
    .row--vc-md>div {
        float: none;
        display: table-cell;
        vertical-align: middle
    }
}

@media screen and (max-width:991px) {
    .float--md-none {
        float: none!important
    }
  
    .header--navbar:before {
        width: 720px
    }
    .header--navbar>.container {
        position: relative
    }
    .header--nav-links>li,
    .header--navbar .navbar-header {
        float: none
    }
  
    .header--navbar .navbar-toggle,
    .pricing--table .table tbody tr {
        display: block
    }
    .header--navbar .navbar-collapse {
        float: none;
        display: none!important;
        position: absolute;
        left: 15px;
        right: 15px;
        max-height: 320px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, .085);
        overflow: auto!important
    }
    .header--navbar .navbar-collapse.collapsing,
    .header--navbar .navbar-collapse.in {
        display: block!important
    }
    .header--nav-links {
        margin-top: 12px;
        margin-left: 0;
        margin-right: 0;
        color: #222;
        background-color: #fff
    }
    .header--nav-links>li>a {
        display: block;
        padding-left: 20px;
        padding-right: 20px
    }
    .header--nav-links>.dropdown>.dropdown-menu {
        float: none;
        position: relative;
        margin-top: 0;
        padding: 0;
        box-shadow: none
    }
    .header--nav-links>.dropdown>.dropdown-menu a {
        padding-left: 30px;
        padding-right: 30px
    }
    .dropdown-menu .dropdown-menu {
        float: none;
        position: relative;
        top: 0;
        left: 0;
        margin-left: 0;
        padding: 0;
        box-shadow: none
    }
    .dropdown-menu .dropdown-toggle:before {
        content: "\f107"
    }
    .header--nav-links>.dropdown>.dropdown-menu .dropdown-menu>li>a {
        padding-left: 40px;
        padding-right: 40px
    }
    
   
}

@media screen and (max-width:767px) {
    .header--navbar:before {
        width: auto
    }
    .header--navbar .navbar-toggle {
        margin-right: 15px
    }
    .header--nav-links>li {
        float: none
    }
    .banner--content .title .h1 {
        font-size: 58px;
        line-height: 68px
    }


@media screen and (max-width:600px) {
    .col-xxs-12 {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0
    }
 
}

@media screen and (max-width:480px) {
    .col-xss-5 {
        width: 41.66666667%
    }
    .col-xss-7 {
        width: 58.33333333%
    }
    .col-xss-12 {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0
    }
    .section--title .h1 {
        font-size: 30px
    }
    .banner--content .title .h1 {
        font-size: 48px;
        line-height: 58px;
        word-break: break-all
    }
    .testimonial--item .content {
        padding-left: 30px;
        padding-right: 30px
    }
    .post--author .img {
        float: none;
        margin-bottom: 18px
    }
}